/*normal font*/
@font-face {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
  url("../fonts/ptsans-400.woff2") format("woff2");
}

/*bold font*/
@font-face {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"),
  url("../fonts/ptsans-700.woff2") format("woff2");

}

html {
  width: 1280px;
  margin: auto;
  background-color: #F2F2F2;
}

body {
  width: 1200px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}


/* Navigation and introduce section */

nav {
  display: flex;
  flex-direction: row;
  height: 66px;
}

.menu-items__menu-item {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;

}

.favorite-counter {
  position: relative;
  top: -10px;
  left: -15px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-items {
  display: flex;
  padding-bottom: initial;
  align-items: center;
  justify-content: flex-start;
}

.menu-items__right-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-items__right-menu,
.menu-items__left-menu {
  display: flex;
  justify-self: flex-end;
  flex-wrap: wrap;

}

.menu-items__left-menu:nth-child(2) {
  margin-left: 13px;
}

.menu-items__left-menu > li {
  margin-left: 34px;
}

.menu-items__right-menu > li:nth-child(2) {
  margin-left: 25px;
}

.menu-items__right-menu > li:nth-child(3) {
  margin-left: 10px;
}


.introduce {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, auto);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.hidden {
  display: none;

}

.logo-image {
  margin-left: 70px;
  width: 139px;
  position: relative;

}

.main-image {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/index-background.png");
  background-repeat: no-repeat;
  margin-top: -5px;
  order: -1;
  height: 485px;
}

.divider {
  margin-top: 26px;

}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 2;

}

h2 {
  font-family: 'PT Sans', 'Arial', sans-serif;
  width: 720px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-top: 62px;

}

.slogan > p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin-top: 7px;
}

.welcome-image {
  margin-top: 50px;

}

.button {
  background: #756257;
  border-radius: 4px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.menu-items__right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 37px;
  margin-top: -7px;
  margin-right: 70px;

}

.menu-items__menu-item:hover {
  border-bottom: 2px solid #756257;
  padding-bottom: 16px;
}

/* Features styles */
.features {
  margin-top: 56px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.features-list__feature-summary {
  background-color: #83B3D3;
}

.features-list__feature-summary,
.features-list__feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 384px;

}

.features-list__feature-image {
  width: 800px;
  height: 384px;

}

.features-summary__description {
  width: 220px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;

}

.uppercase {
  text-transform: uppercase;

}

.bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 10px;

}

.features-item__description {

  width: 250px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin-top: -6px;

}

.features-item__title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 26px;
}


.features > ul:nth-child(odd) > .features-list__feature-item:nth-child(odd),
.features > ul:nth-child(even) > .features-list__feature-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.features > ul:nth-child(even) > .features-list__feature-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.revers-title {
  color: black;
  margin-top: 10px;
}

.features-list__description {
  font-family: PT Sans, Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}


.hotel-search,
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 413px;
  margin-top: 0;

}

.hotel-search > h2 {
  margin-top: 90px
}

.subscribe > h2 {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 100px;
}

.subscribe__input {
  /*margin-right: -5px;*/
}

.paragraph {
  font-size: 22px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.hotel-search__paragraph {
  margin-bottom: 60px;
  margin-top: 0;
}

.subscribe__paragraph {
  color: #FFFFFF;
  width: 520px;
  margin-top: 0;
}

.subscribe__background {
  background-image: url("../img/subscribe-bg.png");
}

.subscribe-form {
  margin-top: 23px;
}

.hotel-search__button {
  width: 575px;
  height: 60px;
  border-radius: 10px;
  border: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.email {
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: 0;
  width: 580px;
  height: 60px;
  margin-right: 0;
  padding-left: 22px;
}

.email::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.subscription-button {
  height: 62px;
  width: 200px;
  background: #83B3D3;
  border-radius: 0 10px 10px 0;
  border: 0;
  margin-left: -4px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

}

footer {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 120px;
}

.footer__social {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 72px;

}

.footer__social > li {
  margin-right: 25px;
}

.footer__phone {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;

}

.footer__phone > a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-decoration: none;
  color: black;
}

.footer__htmlacademy-logo {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 72px;

}

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.load-more {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 50px;
  width: 100px;
}
